Screen {
    align: center top;
}

Input {
    margin-bottom: 1;
}

#main-container {
    width: 80%;
    height: 80%;
    border: heavy $success;
    margin-top: 2;
    margin-bottom: 2;
    # border-wdith:
}

#guide {
    width: 80%
}